# === Global ===
*.log
*.env
.env.*
__pycache__/
.DS_Store
*.pyc
*.pyo
*.sqlite3
*.db
node_modules/
dist/
build/

# === Python / Django ===
venv/
env/
*.egg-info/
*.pot
*.py[cod]
migrations/
media/
staticfiles/
coverage/
htmlcov/

# Django secrets and settings
secret.json
settings_local.py

# Pytest and testing
.pytest_cache/
.tox/
.coverage
nosetests.xml
test_db.sqlite3

# === Next.js ===
.next/
out/
.next/cache/
.next/static/
.next/server/
.next/standalone/
public/static/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# === IDEs / Editors ===
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# === OS Files ===
Thumbs.db
Desktop.ini
